[submodule "tools/pac-extractor"]
	path = tools/pac-extractor
	url = https://github.com/bismoy-bot/PAC-Extractor.git
[submodule "vendor/android-kernel-ums512"]
	path = vendor/android-kernel-ums512
	url = https://github.com/Veynamer/android_kernel_unisoc_ums512.git
	branch = Dev-infinix-x6816d
[submodule "src/busybox"]
	path = src/busybox
	url = https://github.com/mirror/busybox.git
[submodule "vendor/spl-uboot-patch"]
	path = vendor/spl-uboot-patch
	url = https://github.com/TheGammaSqueeze/UnisocBypass.git
[submodule "vendor/bootloader-unlock"]
	path = vendor/bootloader-unlock
	url = https://github.com/patrislav1/unisoc-unlock.git
[submodule "vendor/u-boot-ums512"]
	path = vendor/u-boot-ums512
	url = https://github.com/beebono/u-boot-ums512.git
	branch = main
[submodule "src/linux-6-16-sprd"]
	path = src/linux-6-16-sprd
	url = https://github.com/beebono/linux-6-16-sprd.git
	branch = ums512
[submodule "vendor/android-kernel-rp2p"]
	path = vendor/android-kernel-rp2p
	url = https://github.com/turtleletortue/android_kernel_retroid_pocket2plus.git
	branch = android-9.0
[submodule "vendor/linux-kernel-5-4-ums512"]
	path = vendor/linux-kernel-5-4-ums512
	url = https://github.com/marohinmark/kernel_ums512_5.4.git
[submodule "vendor/linux-kernel-4-14-sprd"]
	path = vendor/linux-kernel-4-14-sprd
	url = https://github.com/strongtz/linux-sprd.git
[submodule "src/linux-7-1-sprd"]
	path = src/linux-7-1-sprd
	url = https://github.com/beebono/linux-mainline-sprd.git
	branch = rg-rotate
[submodule "src/u-boot-sprd"]
	path = src/u-boot-sprd
	url = https://codeberg.org/beebono/u-boot-sprd.git
[submodule "src/u-boot-old"]
	path = src/u-boot-old
	url = https://github.com/beebono/u-boot-sprd.git
	branch = rg-rotate
