[submodule "tools/pac-extractor"]
	path = tools/pac-extractor
	url = https://github.com/bismoy-bot/PAC-Extractor.git
[submodule "src/busybox"]
	path = src/busybox
	url = https://github.com/mirror/busybox.git
[submodule "vendor/spl-uboot-patch"]
	path = vendor/spl-uboot-patch
	url = https://github.com/TheGammaSqueeze/UnisocBypass.git
[submodule "vendor/bootloader-unlock"]
	path = vendor/bootloader-unlock
	url = https://github.com/patrislav1/unisoc-unlock.git
[submodule "vendor/u-boot-ums512"]
	path = src/u-boot
	url = https://github.com/beebono/u-boot-ums512.git
	branch = main
[submodule "vendor/linux-kernel-5-4-ums512"]
	path = vendor/linux-kernel-5-4-ums512
	url = https://github.com/marohinmark/kernel_ums512_5.4.git
[submodule "src/linux-7-1-sprd"]
	path = src/linux-7-1-sprd
	url = https://github.com/beebono/linux-mainline-sprd.git
	branch = rg-rotate
[submodule "src/spl"]
	path = src/spl
	url = https://github.com/beebono/ums512_spl.git
